# ignore Python cache and build files for package
/.vscode
/setup.py
/__pycache__
/dracoonsprayer/__pycache__
/dracoonsprayer/util/models/__pycache__
/build
/dist
/._.DS_Store
/.DS_Store
/.venv
/dracoonsprayer/util/__pycache__
/dracoonsprayer.egg-info
/dracoon_sprayer.egg-info
/dracoonsprayer/dracoonsprayer.egg-info
branding_dev.py
cli_dev.py